* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(rick-and-morty-rik-i-morti.jpg);
}

header {
  background-color: #333a40;
  padding: 15px;
}

.container {
  display: flex;
  padding-top: 30px;
  width: 100%;
  justify-content: center;
}

.subContainer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  gap: 10px;
}

.charDiv {
  transition: transform 0.1s;

  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  background-color: beige;
}

.charDiv:hover {
  transform: scale(1.1);
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px,
    rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px, rgba(240, 46, 170, 0.4) 5px -5px,
    rgba(240, 46, 170, 0.3) 10px -10px, rgba(240, 46, 170, 0.2) 15px -15px,
    rgba(240, 46, 170, 0.1) 20px -20px, rgba(240, 46, 170, 0.05) 25px -25px,
    rgba(240, 46, 170, 0.4) -5px -5px, rgba(240, 46, 170, 0.3) -10px -10px,
    rgba(240, 46, 170, 0.2) -15px -15px, rgba(240, 46, 170, 0.1) -20px -20px,
    rgba(240, 46, 170, 0.05) -25px -25px;
}

.liked {
  color: white;
  background-color: green;
}

button svg {
  width: 20px;
  height: 20px;
}

.charDiv p {
  margin-top: 10px;
  text-align: center;
}

button {
  margin: 10px 50px 10px 50px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid green;
  color: green;
  cursor: pointer;
}

img {
  border-bottom: 1px solid black;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  width: 80px;
  display: inline;
}
/* ------------------------------------------------------------------------- */
/* Styles za karticu na drugoj stranici */

.separateCardWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.separateCard {
  transition: transform 0.1s;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.99) 0px 22px 70px 4px;
}

.separateCard:hover {
  transform: scale(0.8);
}

.tekst {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  background-color: rgb(172, 172, 172);
  padding-bottom: 20px;
}
