* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(rick-and-morty-rik-i-morti.jpg);
}

/* header {
  background-color: #333A40;
  padding: 20px;
} */

.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  gap: 10px;
  width: 80%;
  justify-content: center;
}

.charDiv {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  background-color: beige;
}

.liked {
  background-color: green;
  color: white;
}

button {
  margin: 10px 50px 10px 50px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid green;
  color: green;
  cursor: pointer;
}

button svg {
  width: 20px;
  height: 20px;
}

p {
  margin-top: 10px;
  text-align: center;
}

img {
  border-bottom: 1px solid black;
}
